<div id="breadcrumb" class="row" style="padding-right: 1vw;">
    <!-- Start: divider-text-middle -->
    <div class="col-md-10" style="text-align: center;width: 88vw;float: left;">
        <ol class="breadcrumb color-blue" style="margin-bottom: 0;padding: 0;background-color: initial;">
            <li class="breadcrumb-item"><a href="#"><span class="color-blue">Praktikum</span></a></li>
            <li class="breadcrumb-item"><a href="#"><span class="color-blue">Modul 2</span></a></li>
        </ol>
        <h6 class="text-left" style="color: #68828D;">Jurnal</h6>
    </div>
    <!-- End: divider-text-middle -->
    <!-- Start: divider-text-middle -->
    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-center col-md-2 bg-blue" style="width: 12vw;border-radius: 2vh;text-align: center;height: 6vh;"><span class="text-center d-xl-flex align-items-xl-center bg-blue" style="font-size: 1em;">01:58:21</span></div>
    <!-- End: divider-text-middle -->
</div>
<div class="shadow container" id="question-box" style="background-color: white;border-color: #BEBEBE;border-radius: 1.5vh;padding: 7vh 2vw;font-size: .8em;margin-top: 3vh;">
    <div class="row">
        <div class="text-center col-md-5" style="padding: 0;"><img style="float: right;height: 10vh;right: -1vh;position: relative;" src="assets/img/soallllll.png"></div>
        <div class="text-left d-xl-flex align-items-xl-center col-md-5" style="padding: 0;"><span class="text-left">Silahkan download soal di bawah dan kerjakan dengan benar.</span></div>
    </div>
    <div class="text-center container align-items-center" style="margin-top: 4vh;"><button class="btn btn-primary" type="button" style="height: 5vh;border-radius: 2.5vh;background-color: #0AA4E5;border-color: #BEBEBE;"><i class="fa fa-arrow-circle-o-down" style="font-size: 1.2em;"></i>&nbsp;Download</button></div>
</div>
<div id="question-btn" style="margin: 3vh 0;">
    <button class="btn btn-primary pull-right question-nav" style="background-color: #184254;border-color: rgba(17,105,154,0);" onclick="showUploadForm()">Upload Jawaban</button>
</div>
<script type="text/javascript" src="assets/js/upload.js"></script>