<div class="card shadow" style="width: 295px; min-height: 18vh; min-height: 18vh; max-height: 20vh; border-radius: 2vh; background-color: #00000000; border-color: #184254">
	<div class="card-body text-center card-body-modul px-3 py-3">
		<div class="px-3 card-title" style="background-color: #f1f1f1; position: absolute; font-size: 0.9em; top: -2vh">
			Modul
		</div>
		<div class="card-text align-items-center justify-content-center mt-2">
			<form action="#/quiz">
				<select class="custom-select shadow-sm border-blue" style="max-width: 40vw;color: #184254; border-radius: 1.5vh">
					<option value="1" selected="">Asprak</option>
					<option value="1">VAY</option>
					<option value="2">VAY</option>
				</select>
				<input type="text" placeholder="Kode Autentikasi" name="auth-key" class="border-blue mt-3 px-2 py-1 shadow-sm" style="border-radius: 1.5vh; border-width: 1px; width: 100%; font-size: 0.7em">
			</form>
		</div>
	</div>
</div>