<div class="row" style="padding-right: 1vw;">
    <!-- Start: divider-text-middle -->
    <div class="col-md-10" style="text-align: center;width: 88vw;float: left;">
        <ol class="breadcrumb color-blue" style="margin-bottom: 0;padding: 0;background-color: initial;">
            <li class="breadcrumb-item"><a href="#"><span class="color-blue">Nilai</span></a></li>
        </ol>
    </div>
    <!-- End: divider-text-middle -->
</div>
<div class="text-center shadow container" id="score-box" style="background-color: white;border-color: #BEBEBE;border-radius: 1.5vh;padding: 7vh 2vw;font-size: .8em;margin-top: 3vh;">
	<!-- <img src="assets/img/Screenshot%20from%202019-11-15%2013-21-08.png" title="isi Chart.js di sini" style="width: 100%;"> -->
	<canvas id="score" width="100%" height="50vh"></canvas>
</div>